html, body{
    margin: 0;
    padding: 0;
}

.container-fluid.main{
    background-image: url('../../../Assets/img/background/main-bg.jpg');
    background-size:cover;
    background-position: 0 -225px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;;
}

@media (min-width: 1080px) {
    .hr{
        background-color: rgb(16, 14, 14);
        height: 150px;
        margin-bottom: 0px;
        margin-top: -205px;
    }
}

@media (max-width: 1080px) {
    .hr{
        background-color: rgba(16, 14, 14);
        height: 150px;
        margin-bottom: 0;
        margin-top: -250px;
    }
}

@media (min-width: 1330px) {
    .hr{
        height: 0;
        margin-bottom: 0px;
        margin-top: 0;
    }
    .container-fluid.main{
        margin-bottom: -10px;
    }
}