.content {
    height: 100vh;
    display: grid;
    grid-template-areas: 'play'
                        'experience'
                        'button'
                        'triangle';
    grid-template-rows: 1fr 1fr 1fr 2fr ;
    grid-template-columns: 1fr ;
}

.main  h1 {
    grid-area: 'play';
    text-transform: uppercase;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
}

main {
    grid-area: 'button';
    display: flex;
    justify-content: center;
}
button.play{
    width: 250px;
    height: 50px;
    border: 4px solid rgb(255, 196, 0);
    
}

.main p {
    grid-area: 'experience';
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    color: white;
}



.triangle p{
    grid-area: 'triangle';
    text-transform: uppercase;
    display: flex;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
    color: white;
    margin-top: 150px;
}
footer{
    text-align: center;
}

img{
    width: 20px;
}

@media (max-width: 750px) {
    .main{
        padding-top:0;
        margin: 0;
    }
    .main > h1 {
        padding: 0;
    }
    .main > p {
        padding: 0;
    }
    button.play{
        width: 150px;
        width: 100px;
    }
    .triangle p{
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    button.play {
        margin-bottom: 0;
    }
}


@media (max-width: 1330px) {
    .main{
        padding: 0;
        margin: 0;
    }
    .main p{
        padding: 0;
    }
    .triangle p {
        margin-top: -50px;
    }
}