.page2 {
    background-image: url('../../../../Assets/img/background/the-games-bg.jpg');
    background-position: 0 -100px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -20px;
    padding: 0;
}

.main2 {
    text-align: center;
    padding-top: 300px;
    display: grid;
    grid-template-areas: 'quest corousel';
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
}

aside{
    grid-area: 'quest';
    display: flex;
    align-items:flex-start;
    color: white;
    flex-direction: column;
    letter-spacing: 6px;
}

aside nav {
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 6px;
    height: 10px;
    display: inline-block;
}


main{
    grid-area: 'corousel';
    display: flex;
    justify-content:center;
    align-items:baseline;
    color: white;
}
.corousel.container{
    display: flex;
    justify-content: center;
}

.corousel.container img{
    width: 40vw;
    height: 25vw;
}

@media (min-width: 1400px) {
    .page2{
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .page2{
        margin-top: -20vw;
    }
    .corousel.container img{
        width: 60vw;
        height: 45vw;
    }
}

@media (max-width: 1080px) {
    .main2{
        display: inline;
    }
    aside{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .corousel.container {
        padding: 60px;
    }
}