.collapse{
    padding-left: 200px;
    font-weight: bold;
    list-style: none;
}
.container-navbar{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.collapse .nav-item .reg {
    margin-left: 350px;
}

.collapse .nav-item a { 
    color: white;
}

.navs{
    position: relative;
}

@media (max-width: 1400px) {
    .collapse .nav-item .reg{
        margin-left: 250px;
    }
}